html, body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    border: 3px solid red;
}

.image {
    display: flex;
    justify-content: flex-end;
    background-image: url(./assets/main.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-div{
    width: 20%;
    margin-top: 9rem;
    margin-right: 10rem;
    display: inline-table;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1.5rem;
}

.form-headline-div{
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin-bottom: 2rem;
}

.form-headline{
    
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-weight: normal;
    font-size: large;
    color: white;
}
input{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.btn-submit{
    padding: 0.5rem;
    background-color: orange;
    border-radius: 8px;
    border: 2px solid orange;
    font-weight: bold;
    color: white;
    font-size: larger;
}


.mid{
    padding-left: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.headline-mid{
    font-size: x-large;
}

.info-mid{
    font-size: large;
}


.info{
    display: flex;
    border: 3px solid black;
}

.list-info{
    width:30%;
    align-items: center;
    padding: 1rem;
    border: 1px solid green;
}

ul{
    /* list-style-image: url('assets/built.png'); */
}

.text-info{
    padding: 1rem;
    border: 1px solid blue;
}

.text-info-p{
    opacity: 0.7;
}

.features{
    background-color: #f3f3f3;
}

.features-wrapper{
    margin-left: 15rem;
    margin-right: 15rem;
}

.features-boxes{
    
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.features-boxes div{
    padding-left: 1rem;
    padding-right: 1rem;
}

.features-boxes div p{
    opacity: 0.7;
    box-sizing: border-box;
}




